.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  background-color: #425893;
  height: 120px;
  color: white;
}

.navigation__select {
  height: 30px;
  width: 15%;
  border-radius: 5px;
  border: 1px solid;
}

.contents {
  display: grid;
  padding: 150px;
}

.contents__bar {
  margin-bottom: 50px;
}

.contents__line {
  margin-bottom: 50px;
}
